.centrado {
    text-align: center;
}

.parrafo_inlineblock {
    display: inline-block;
    margin: 10px;
}

.titulo {
    align-items: center;
    display: flex;
    position: relative;
    background-color: rgb(127, 173, 177);
    height: 100px;
    margin: 0px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}
.menu {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
    padding: 5px;
    border-style: double;
    border-color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: burlywood;
    height: 50px;
    border-bottom-style: ridge;
    border-color: black;
}

.contenedor{
    display: flex;
    height: 800px;
}

.principal {
    overflow: visible;
    text-align: left;
    width: 60%;
    background-color:aquamarine;
    color:black;
    display: block;
    border-right-style: dashed;
    border-color: black;
  }
  
.secundario {
    display: block;
    overflow: visible; 
    text-align: center;
    width: 40%;
    background-color: #f8f3dd;
    color: rgb(0, 0, 0);

}

.pie{
    padding: 10px;
    text-align: center;
    background-color:lightgrey;
    height: 120px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}

.menu-desplegable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    
}

/* Estilo para los elementos del menú */
.menu-desplegable li {
    float: left;
}

/* Estilo para los enlaces */
.menu-desplegable li a {
    display: block;
    color: rgb(22, 9, 9);
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-style: double;
    border-color: black;
    background-color: beige;




}

/* Estilo para los enlaces cuando se coloca el cursor sobre ellos */
.menu-desplegable li a:hover {
    background-color: #cce0c8;
}

/* Estilo para las solapas desplegables */
.menu-desplegable li.dropdown {
    display: inline-block;
}

/* Estilo para el contenido de las solapas desplegables */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Estilo para los enlaces de las solapas desplegables */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Estilo para los enlaces de las solapas desplegables cuando se coloca el cursor sobre ellos */
.dropdown-content a:hover {
    background-color: #0a540d;
}

/* Estilo para mostrar la solapa desplegable cuando se coloca el cursor sobre la solapa */
.dropdown:hover .dropdown-content {
    display: block;
}