.centrado {
    text-align: center;
}

.parrafo_inlineblock {
    display: inline-block;
    margin: 10px;
}

.titulo {
    align-items: center;
    display: flex;
    position: relative;
    background-color: rgb(127, 173, 177);
    height: 100px;
    margin: 0px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}
.menu {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
    padding: 5px;
    border-style: double;
    border-color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: burlywood;
    height: 50px;
    border-bottom-style: ridge;
    border-color: black;
}

.contenedor{
    display: flex;
    height: 800px;
}

.principal {
    overflow: visible;
    text-align: left;
    width: 60%;
    background-color:aquamarine;
    color:black;
    display: block;
    border-right-style: dashed;
    border-color: black;
  }
  
.secundario {
    overflow: visible; 
    text-align: center;
    width: 40%;
    background-color: #f1c40f;
    color: white;

}

.pie{
    display: flex;
    background-color: rgb(52, 224, 240);
    height: 140px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}