.centrado {
    text-align: center;
}

.parrafo_inlineblock {
    display: inline-block;
    margin: 10px;
}

.titulo {
    align-items: center;
    display: flex;
    position: relative;
    background-color: rgb(127, 173, 177);
    height: 100px;
    margin: 0px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}
.menu {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
    padding: 5px;
    border-style: double;
    border-color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: burlywood;
    height: 50px;
    border-bottom-style: ridge;
    border-color: black;
}

.contenedor{
    display: flex;
    height: 800px;
}

.principal {
    overflow: auto;
    text-align: left;
    width: 60%;
    background-color:aquamarine;
    color:black;
    display: block;
    border-right-style: dashed;
    border-color: black;
  }
  
.secundario {
    padding:10px;
    display: block;
    overflow: auto; 
    text-align: center;
    width: 40%;
    background-color: #f8f3dd;
    color: rgb(0, 0, 0);

}

.pie{
    padding: 10px;
    text-align: center;
    background-color:lightgrey;
    height: 120px;
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-color: black;
}

.sectionheader{
    background-color: rgba(195, 52, 0, 0.631);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-weight: bold;
}

.sectionarticle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.articlecontent{
    margin:20px;
    width: 30%;
    height: 70%;
    border-radius: 30px;
    position: relative;
    top:30px;
    background-color: rgba(248, 214, 127, 0.886);
    border: 3px solid black;
    overflow: hidden;
}

.contentheader{
    overflow: hidden;
    text-size-adjust: 100%;
    max-height: 100%;
    display:flex;
    width: 100%;
    height: 15%;
    border-bottom: 3px rgb(0, 0, 0) solid;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 23px;
    max-height: 200%;
    background-color: antiquewhite;
    text-align: left;
    height: 70%;
    overflow: auto;
  }

.content ul li{
    padding: 3px;
}

.contentfooter{
    overflow: auto;
    background-color: rgb(255, 140, 0);
    height: 15%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    border-top: 3px black solid;
    font-weight: bold;
    color: #f8f3dd;
}